@model PagedList.IPagedList<Model.EF.Giai>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="x_panel">

        <div class="x_title">
            <h2>Danh sách giải</h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mã Giải</th>
                        <th>Tên Giải</th>
                        <th>Tiền Thưởng</th>
                        <th>Tình trạng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.MaGiai">
                            <td>
                                @if (item.Flag == true)
                                {
                                    <a href="/Giai/Edit/@item.MaGiai">Sửa ||</a>
                                    @Ajax.ActionLink("Khóa", "Delete", new { @id = item.MaGiai }, new AjaxOptions
                                {
                                    Confirm = "Bạn muốn tạm khóa bản ghi này?",
                                    OnComplete = "location.reload(true)",
                                    HttpMethod = "Delete"

                                })
                                }
                                else
                                {
                                    @Ajax.ActionLink("Bật", "UnDelete", new { @id = item.MaGiai }, new AjaxOptions
                                         {
                                             Confirm = "Bạn muốn bật bản ghi này?",
                                             OnComplete = "location.reload(true)",
                                             HttpMethod = "Delete"

                                         })
                                }
                            </td>
                            <td>@item.MaGiai</td>
                            <td>@item.TenGiai</td>
                            <td>@item.SoTienNhan</td>
                            @if (item.Flag == false || item.Flag == null)
                            {
                                <td>Ngừng</td>
                            }
                            else if (item.Flag == true)
                            {
                                <td>Hoạt động</td>
                            }

                        </tr>

                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, @TenTimKiem = ViewBag.TenTimKiem }))
        </div>
    </div>
</div>

